body
{
}

.pie {
    width: 50%;
    height: auto;
    display: block;
}
.comp-img{
    width:80%;
    height:auto;
}
.thumbnail {
    width:300px;
    height:auto;
}

.control-label {
  display: inline-block;
  width: 250px;
  margin-top: 10px;
}
