<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Service Request Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">Service Request Analytics</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="requests.html">Service Requests</a>
                </li>
            </ul>

        </div>
    </div>
</div>

    <div class="container">
        <div id="banner">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <h3>Service Request Analytics</h3>
                    <p class="lead">Portal for prioritizing, managing and analyzing Service Requests</p>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            Visual 1
          </div>
          <div class="col-lg-6">
            Visual 2
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            Visual 3
          </div>
          <div class="col-lg-6">
            Visual 4
          </div>
        </div>
        <hr />
        <footer>
            <p>2018 - Service Request Analytics</p>
        </footer>
    </div>

</body>
</html>
