<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Service Request Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="">

</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ url_for('home') }}" class="navbar-brand">Service Request Analytics</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('home') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('all_tickets') }}">Service Requests</a>
                </li>
            </ul>

        </div>
    </div>
</div>

    <div class="container">
        <div id="banner">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <h3>Service Request Analytics</h3>
                    <p class="lead">Portal for prioritizing, managing and analyzing Service Requests</p>
                </div>
            </div>
        </div>
<div class="jumbotron">
                        <h3>Select department</h3>
                        <select id="chosen_dep" onchange="optionChanged(this.value)">
                        </select>
                    </div>

        <div class="row">
          <div class="col-lg-6">
                <div id="status"></div>
                <canvas id="myChart" width="200" height="110"></canvas>
          </div>
            <div class="col-lg-6">
                <div id="priority"></div>
                <canvas id="myChart2" width="200" height="100"></canvas> 
            </div>
        </div>
        <hr />
        <footer>
            <p>2018 - Service Request Analytics</p>
        </footer>
    </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/visual.js') }}"></script>
</body>
</html>